
<body>
    <div class="card col-md-3">
        <h3> Log-in Portal</h3>
        <form>
            <label for = "username"> Username: </label><br>
            <input type = "text" id="username" placeholder="username" formController= "username" [(ngModel)] = "username" name = "username"> 
            <br>
            <br>
            <label for = "password"> Password: </label><br>
            <input type = "text" id="password"  placeholder="password" formController= "password" [(ngModel)] = "password" name = "password"> 
            <br>
            <br>
            <button type = "submit" class ="btn" (click) = Loginuser()>
                Log-in
            </button>
            <small class="text-danger">{{msgError}}</small>
            <button type = "submit" class ="btn">
                <a routerLink="/register">REGISTER</a>
            </button>
        </form>
    </div>
</body>
