<link  rel="stylesheet" href="register.component.css">
<nav>
    <div class="navbar navbar-light bg-light shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <button type="button">
          <a routerLink="/dashboard">
            <strong style="font-size: 30px;">Rainforest</strong>
          </a>
        </button>    
      </div>
      <button class="user">
        <a class = "userpic" routerLink = "/userProfile">
          <img src="assets/icons/person-circle.png" alt="basket" style="height:40px; width: 40px;">
        </a>
      </button>
      <button class="cart">
        <a class="img" routerLink="/cart">
        <img src="assets/icons/basket2.png" alt="cart" style="height:40px; width: 40px;">
        </a>
    </button>
    </div>
  </nav>
  <body>
    <div class="card col-md-3">
        <h3> Registration Portal</h3>
        <form>
            <label for = "username"> Username: </label><br>
            <input type = "text" id="username" formController = "username" [(ngModel)] = "username" placeholder="Username" name = "username" > 
            <br>
            <br>

            <label for = "password"> Password: </label><br>
            <input type = "text" id="password"formController = "password" [(ngModel)] = "password" placeholder="password" name = "password"> 
            <br>
            <br>

            <label for = "firstName"> First Name: </label><br>
            <input type = "text" id="firstName" formController = "firstName" [(ngModel)] = "firstName" placeholder="Tyler" name = "fistName"> 
            <br>
            <br>

            <label for = "lastName"> Last Name: </label><br>
            <input type = "text" id="lastName" formController = "lastName" [(ngModel)] = "lastName" placeholder="Jenkins" name = "lastName"> 
            <br>
            <br>
            
            <button type = "submit" class ="btn" (click) = registerusr()>
                Register
            </button>
            <small class="text-danger">{{msgError}}</small>
        </form>
    </div>
</body>

