

  /* button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  } */
  /* button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  } */
 
  .plant_image
  {
    max-width: 60%;
    height:auto;
    width:60%;
    align-self: center;
  }

  .plant_description
  {
    font-size: 25px;
  }

  .cost
  {
    position: absolute;
    top:20.625em;
    right: 66.2em;

  }
  .plant_amount
  {
    position:absolute;
    top:20.625em;
    right: 25em;
  }

  body
  {
    overflow: hidden;
  }

  .user, .cart, .home {
    border: none;
    background-color: transparent;
   }

   .card {
    height: 100%;
    margin: 25px;
    padding: 25px;
    overflow: scroll;
}

a{
  text-decoration: none;
  color: white;
}

.btn {
  color: white;
}