<body>
  <div>
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">{{plant.product_name}}</h1>
      </div>
        <img class = "plant_image" src = './assets/images/monstera.jpg.webp' alt = "image"> 
        <p class = "plant_description"> {{plant.description}}</p>
        <label for = "plant-price"> Price: ${{plant.price}}</label>
        <form>
            <button type="button" class="btn"><i class="fa fa-plus" aria-hidden="true" ></i></button>
            <label for="quantity">{{plant.quantity}}</label>
            <button type="button" class="btn"><i class="fa fa-minus" aria-hidden="true"></i></button>
            <!-- <input type = "number" id=" quantity" name = "quantity" min = "1" max = "10"> -->
            <br>
            <br>
        </form>
        <button type="button" class="btn btn-primary btn-block"  (click)=addtocart(plant)>Add to Cart</button>
        <button type="button" class="btn btn-primary btn-block">
          <a routerLink="/plants">
            Go Back
          </a>
        </button>
    </div>     
  </div>  
</body>
