<link rel="stylesheet" href="user-profile.component.css">
<nav>
    <div class="navbar navbar-light bg-light shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <button type="button">
          <a routerLink="/dashboard">
            <strong style="font-size: 30px;">Rainforest</strong>
          </a>
        </button>
      </div>
      <button class="user">
        <img src="assets/icons/person-circle.png" alt="basket" style="height:40px; width: 40px;">
      </button>
      <a class="img" routerLink="/cart">
        <button class="cart">
          <img src="assets/icons/basket2.png" alt="cart" style="height:40px; width: 40px;">
      </button>
      </a>
    </div>
  </nav>
  <body>
    <!-- <input type = "text" (keyup) = "onNameKeyUp($event)">
    <button type = "button" class="btn btn-primary" (click)=getUser()>
      Show Profile
    </button>
    {{username}} name is {{username}} -->
      <form>
      <div class="card col-md-3" *ngFor="let user of profile"> 
              <img class = "picture" src = "assets/icons/person-circle.png" alt = "picture">
              <label for = "username" class = "uName">  Username : {{user.username}} </label> 
               <input type = "text" id = "username" formController = "username"  name = "username"> 
               <br>
              <label for = "password" class = "password"> Password: {{user.password}} </label> 
               <input type = "text" id = "password" formController = "password" name = "password">
               <br>
              <label for = "firstName" class = "firstName"> First name: {{user.firstname}} </label> 
               <input type = "text" id = "firstName" formController = "firstname" name = "firstName"> 
              <br>
              <label for = "lastName" class = "lName"> Last name: {{user.lastName}} </label> 
               <input type = "text" id = "lastName" formController = "lastName" name = "lastname"> 
               <br>          
              <button type = "button" class="btn btn-primary">
                  Update User
              </button> 
      </div>
      </form> 
  </body>