

 .main {
   text-align: center;
    padding: 100px; 
  }
  
  
   a:hover {
    color: blue;
  } 

  .card {
    padding: 50px;
    margin: 45px;
    text-align: center;
    border-color: black;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    text-align:center;
}

button {
  border: none;
  background-color: transparent;
}

.user {
  float: left;
}

.card-basket {
  float: left;
}

.img {
  background-color: transparent;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}