
<nav>
  <div class="navbar navbar-light bg-light shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <button type="button">
        <a routerLink="/dashboard">
          <strong style="font-size: 30px;">Rainforest</strong>
        </a>
      </button>
    </div>
    <button class="user">
      <img src="assets/icons/person-circle.png" alt="basket" style="height:40px; width: 40px;">
    </button>
    <button class="cart">
      <a class="img" routerLink="/cart">
      <img src="assets/icons/basket2.png" alt="cart" style="height:40px; width: 40px;">
      </a>
  </button>
  </div>
</nav>
<body>
  <div class="main">
    <h1>WELCOME TO RAINFOREST!</h1>
    <p>The home for your indoor plant fix!</p>  
    <p> We carry a variety of indoor plant species guaranteed to bring life to your home space.</p>
    <p>Click below to view all our plants.</p>
    <button type="button" class="btn btn-primary">  
      <a routerLink="/plants">PLANTS</a>
    </button>  
  </div>
</body>
