<!-- <nav>
  <a routerLink="/RAINFOREST_LOGO" style="float: left;">Logo</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/plants">Plants</a>
</nav> -->
<!-- <a href="https://www.vecteezy.com/free-vector/cart">Cart Vectors by Vecteezy</a> -->
<nav>
  <div class="navbar navbar-light bg-light shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <strong style="font-size: 30px;">Rainforest</strong>
    </div>
    <button class="user">
      <a class = "userpic" routerLink = "/userProfile">
        <img src="assets/icons/person-circle.png" alt="basket" style="height:40px; width: 40px;">
      </a>
    </button>
    <button class="cart">
      <a class="img" routerLink="/cart">
        <img src="assets/icons/basket2.png" alt="cart" style="height:40px; width: 40px;">
      </a>
  </button>
  </div>
</nav>
<body>
  <div class="main">
    <h1>WELCOME TO RAINFOREST!</h1>
    <p>The home for your indoor plant fix!</p>  
    <p> We carry a variety of indoor plant species guaranteed to bring life to your home space.</p>
    <p>Click below to view all our plants.</p>
    <p> Please create or log in with an account to checkout! Thank you for choosing Rainforest!</p>
    <button type="button" class="btn">  
      <a routerLink="/plants">PLANTS</a>
    </button>  
    <button type = "button" class ="btn">
      <a routerLink="/login">LOGIN</a>
    </button>
    <button type = "button" class ="btn">
      <a routerLink="/register">REGISTER</a>
    </button>
  </div>
</body>
