.container {
  margin-top: 100px;
}

h2 {
    text-align: center;
  }
  
  .plants-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  a:hover {
    color: blue;
  } 

  .card {
    padding: 50px;
    margin: 45px;
    text-align: center;
    border-color: black;
    border-radius: 50px;
    border-width: 5px;
}

.card img {
    max-width: 50%;
    width: 12.5rem;
    height: auto;
    margin-bottom: .938em;
    text-align:center;
}

button {
  border: none;
  background-color: transparent;
}

.user {
  float: left;
}

.card-basket {
  float: left;
}

.img {
  background-color: transparent;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
